<div class="container-fluid">
  <div class="jumbotron">
    <div class=" row h-100 justify-content-center align-items-center jumbo-text">
      <h1 class="display-3 align-items-center display-white">256-267-1435</h1>
    </div>
  </div>

  <div class="feature-cards">
    <h1 class="display-2 text-center">Featured Products</h1>
  </div>

  <div class="container">
    <div class="card-deck">
      <div class="flip-container">
        <div class="flipper">
          <div class="front">
            <%= image_tag('grayTop.jpg', class: 'card-img-top', alt: 'gray-top') %>
            <h5 class="card-title">Umgee ML015</h5>
            <p class="card-text">Sheer Lace Back Sleeveless Top with Ruffled Details</p>
            <p>S M L $20.00</p>
          </div>
          <div class="back">
            <%= image_tag('grayTop1.jpg', class: 'card-img-top', alt: 'gray-top') %>
            <h5 class="card-title">Umgee ML015</h5>
            <p class="card-text">Sheer Lace Back Sleeveless Top with Ruffled Details</p>
            <p>S M L $20.00</p>
          </div>
        </div>
      </div>

      <div class="flip-container">
        <div class="flipper">
          <div class="front">
            <%= image_tag('purpleDress1.jpg', class: 'card-img-top', alt: 'gray-top') %>
            <h5 class="card-title">Umgee ML015</h5>
            <p class="card-text">Sheer Lace Back Sleeveless Top with Ruffled Details</p>
            <p>S M L $20.00</p>
          </div>
          <div class="back">
            <%= image_tag('purpleDress.jpg', class: 'card-img-top', alt: 'gray-top') %>
            <h5 class="card-title">Umgee ML015</h5>
            <p class="card-text">Sheer Lace Back Sleeveless Top with Ruffled Details</p>
            <p>S M L $20.00</p>
          </div>
        </div>
      </div>

      <div class="flip-container">
        <div class="flipper">
          <div class="front">
            <%= image_tag('redTop.jpg', class: 'card-img-top', alt: 'gray-top') %>
            <h5 class="card-title">Umgee ML015</h5>
            <p class="card-text">Sheer Lace Back Sleeveless Top with Ruffled Details</p>
            <p>S M L $20.00</p>
          </div>
          <div class="back">
            <%= image_tag('redTop1.jpg', class: 'card-img-top', alt: 'gray-top') %>
            <h5 class="card-title">Umgee ML015</h5>
            <p class="card-text">Sheer Lace Back Sleeveless Top with Ruffled Details</p>
            <p>S M L $20.00</p>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
