<div class="container">
  <div class="display-3 text-center">
    <%= @category.title %>
  </div>
  <hr>

  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>

    </tr>



  <!-- <ul> -->
    <%  if @category.products.count !=0 %>
      <% @category.products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= image_tag(product.image.url, size: '75x75') if product.image? %></td>
        <td><%= link_to(product.title, product_path(product), id: 'title') %></td>
        <td><%= truncate(product.description, length: 75) %></td>




      <% end %>
    <% end %>
  <!-- </ul> -->

  </table>

  <% if current_user.try(:type) == 'AdminUser' %>

  <div class="">
    <%= link_to 'Edit', edit_category_path, class: 'btn btn-warning' %>
    <%= link_to 'Delete', category_path, method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>

  <% end %>
</div>
