<%= simple_form_for @product, html: {multipart: true} do |f| %>


  <% if @product.errors.any? %>
    <% @product.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: 'Malaniabys Notification', sticky: false) %>
    <% end %>
  <% end %>

  <%= f.input :title, wrapper_html: {class: 'productName'} %>
  <%= f.input :description, wrapper_html: {class: 'productDescription'} %>
  <%= f.input :image, as: :file, wrapper_html: {class: 'inputImage'} %>
  <div class="row">
    <%= f.input :sku, wrapper_html: {class: 'skuInput'} %>
    <%= f.input :price, wrapper_html: {class: 'priceInput'} %>
    <%= f.input :cost, wrapper_html: {class: 'costInput'} %>
    <%= f.association :supplier, label_method: :company_name, value_method: :id, include_blank: false %>
  </div>




  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancel', products_path, class: 'btn btn-warning' %>

<% end %>
