<div class="columns align-items-center">
  <div class="row">
    <div class="column col-md-1">
      Quantity:  <%= line_item.quantity %>
    </div>


  <div class="column col-md-2">
    <figure class="image">
      <%= image_tag(line_item.product.image_url(), size: '150x150') %>
    </figure>
      </div>

    <div class="column col-md-6">
      <strong><%= line_item.product.title %></strong>
      <div class="columns align-items-center">
        <div class="content column col-md-9">
          <%= truncate(line_item.product.description, length: 140) %>
        </div>



        <div class="column col-md-3 float-right">
          <strong><%= number_to_currency(line_item.total_price) %></strong>
        </div>

      </div>

      </div>


    <div class="float-right">
      <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
    </div>
  </div>


</div>
<hr>
